fragment_api_lib==1.0.1

sqlalchemy==2.0.47
asyncio==4.0.0
aiohttp==3.13.3
aiohttp-socks>=0.8.0
aiosqlite==0.22.1
aiogram==3.25.0

pdfplumber
num2words
python-docx
docxtpl
google
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
